# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*.properties
.settings/
.loadpath
.idea/

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle


# other
eclipse
run
-out/
minecraft/
eclipse/
build/
.classpath
.project
*.java___jb_tmp___
