.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*.properties
.settings/
.loadpath
.idea/
*.ipr
*.iml
*.iws
out/
minecraft/
eclipse/
build/
.classpath
.project
setup.bat
libs/llibrary-1.7.2-1.10.2-dev.jar